{% extends 'user/pages/template.html.twig' %}

{% set page_title %}Catégories{% endset %}
{% set submenuActive = "Catégories" %}

{% block main_content %}
    <div id="categories"
         data-donnees="{{ donnees }}"
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}
