{% extends 'user/pages/template.html.twig' %}

{% set page_title %}Economies{% endset %}
{% set submenuActive = "Catégories" %}

{% block main_content %}
    <div id="categories"
         data-donnees="{{ donnees }}"
         data-items="{{ items }}"
         data-is-saving="true"
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}
